<br>
<br>
<div class="searchContent">
  <h3>Album: <%= @album['title'] %></h3>
  <br>
</div>
<div class="searchContent">
 <% if @tracks.any? %>
    <p>List of songs:</p>
    <br>
    <ol>
      <% @tracks.each do |track| %>
       <li><%= track['title'] %></li>
      <% end %>
    </ol>
  <% else %>
    <p>There are currently no tracks to display for this album</p>
  <% end %>
  <br>
</div>
<div class="searchContent">
  <a href="/albums/<%=@album['id']%>" data-method="post" value="<%= albums_path %>">Add to collection</a>
</div>
