<div class="flex_container">
  <ul>
    <li class="flex-item">Record 1</li>
    <li class="flex-item">Record 2</li>
    <li class="flex-item">Record 3</li>
    <li class="flex-item">Record 4</li>
    <li class="flex-item">Record 5</li>
  </ul>
</div>
