
<div style="display: flex;">
    <!-- Sidebar -->
    <aside style="width: 30%;">
        ...
    </aside>

    <!-- Main -->
    <main style="
     
        flex: 1;

        
        overflow: auto;
    ">
        ...
    </main>
</div>