<div class="back">
  <div class= "header">
    <form>
      <input type="text" class="form-control" name ="search_term" id="search" placeholder="enter search term">
      <label for="select search type">Select Search Type</label>
      <select class="form-control" id="search_type">
        <option name="">Select An Option</option>
        <option name="artist">Artist</option>
        <option name="title">Album</option>
        <option name="genre">Genre</option>
        <option name="year">Year</option>
      </select>
      <button type= "submit" class= "btn btn-dark">Search</button>
    <form>
  </div>
  <% if @search_results.any? %>
    <main class="header">
      <h1>Search Results: </h1>
    </main>
    <main class="mainContent">
      <ul> 
        <% @search_results.each do |result| %>
            <div class="flex_container">
              <li class="flex-item">
                <a href="/albums/<%= result['id'] %>"> <img class= "cover" src="<%=result['cover_image']%>" alt="<%= result['id'] %>"></a>
              </li>
            </div>
        <% end %>
      </ul>
    </main>
  <% end %>
</div>


