<div class="search-bar">
  <form>
    <input type="text" class="form-control" name ="search_term" id="search" placeholder="enter search term">
    <input type="text" class="form-control" name="type" placeholder="select search type">
    <button type= "submit" class= "btn btn-dark">Search</button>
  <form>
</div>

<% if @search_results.any? %>
  <% @search_results.each do |result| %>
    <p><%= result['title'] %></p>
    <p><%= result['id'] %></p>
    <p><img src="<%=result['cover_image']%>" alt=""></p>
  <% end %>
<% else %>
   Looks like your search didn't return any results! Please try again!  
<% end %>


