body {
  background-color: #242423;
  background-image: url('records.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
:root {
  --foo: opacity: transparency;
}

// color palete :
// timberwolf #CFDBD5
// yellow #F5CB5C
// eerie black #242423
// Jet #333533

.flex-container {
  justify-content: space-around;
}

.flex-item {
  background: #F5CB5C;
  padding: 0px;
  width: 250px;
  height: 250px;
  margin: 10px;
  color: #333533;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  font-family: 'MuseoModerno', cursive;
  border-radius: 8px;
}

// img.body {
//   opacity: 0.5;
//   // border-radius: 8px;
//   // max-width: 100%;
//   // height: auto;
//   // display: block;
//   // margin-top: 25%;
//   // margin-left: auto;
//   // margin-right: auto;
// }

ul {
  list-style: none;
}

.navigation {
  background: #CFDBD5;
  color: #333533;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid, white;
  font-family: 'MuseoModerno', cursive;
}

.navButton {
  float: left;
  display: block;
  color: #333533;
  margin: 2;
  padding: 2px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border: 1px solid, white;
}

.container {
  background: #F5CB5C;
  padding: 15px;
  margin: 75px;
  color: #333533;
  font-weight: bold;
  // font-size: 2em;
  // text-align: center;
  font-family: 'MuseoModerno', cursive;
  border-radius: 8px;
  // opacity: 0.75;
  width: 250px;
  height: 300px;
}

