@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #242423;
  background-image: url('records.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'MuseoModerno', cursive;
}

// color palete :
// timberwolf #CFDBD5
// yellow #F5CB5C
// eerie black #242423
// Jet #333533



// -------- image classes ----------------

img {
  border-radius: 8px;;
}

img.shelf {
  opacity: 0.9;
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

img.cover {
  width: 250px;
  height: 250px;
  object-fit: cover;
}


// ----------Navbar classes ------------------
.navigation {
  background: #CFDBD5;
  color: #333533;
  display: inline-flex;
  flex-wrap: wrap;
  //flex-flow: row wrap;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 1;
  width: 99.7%;
  border: 1px solid, white;
  font-family: 'MuseoModerno', cursive;
  border-radius: 8px;
  // margin-left: 20px;
  // margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.navButton {
  float: left;
  display: block;
  color: #333533;
  margin: 2;
  margin-right: 4px;
  padding: 2px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border: 1px solid, white;
}

li:hover{
  background: #F5CB5C;
}



// --------classes for sign in and sign up forms-------------
.deviseContainer {
  background: #F5CB5C;
  padding: 15px;
  margin: 75px;
  color: #333533;
  font-weight: bold;
  font-family: 'MuseoModerno', cursive;
  border-radius: 8px;
  width: 250px;
  opacity: .90;
}

// ----------------index.html.erb classes --------------------
.contentBody {
  display: flex;
  color: #333533 ;
  margin-top: 75px;
}

.sidebar {
  flex: 1;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 100px;
  padding: 15px;
  border-radius: 8px;
  max-width: 300px;
  background-color: #CFDBD5;
  justify-content: space-evenly;
  text-align: center; 
  opacity: .75;
}

.sidebar > h1 {
  text-align: center; 
  }

.mainContent {
  display: flex;
  flex: 3;
  flex-flow: row wrap;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 50px;
  padding: 15px;
  border-radius: 8px;
  overflow: auto;
  background-color: #F5CB5C;
  opacity: .90;
  text-align: center; 
}

ul {
  list-style: none;
}

.flex-container {
  width: 250px;
  height: 250px;
}

.flex-container, p {
 max-width: 250px;
 word-wrap: break-word;
 overflow-wrap: break-word;
 font-size: 1em;
 color: #333533;
}

.flex-item {
  // background: #333533;
  padding: 0px;
  width: 250px;
  height: 250px;
  color: #CFDBD5;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  border-radius: 8px;
}




// -----------discogs search classes-------------------
.searchContent {
  display: flex;
  flex: 3;
  flex-flow: row wrap;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 50px;
  padding: 15px;
  border-radius: 8px;
  overflow: auto;
  background-color: #F5CB5C;
  opacity: .90;
  text-align: center; 
}

.searchContentList {
  border-radius: 8px;
  overflow: auto;
  background-color: #F5CB5C;
  opacity: .90;
  text-align: center; 
}

.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: 75px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 25px;
  padding: 15px;
  border-radius: 8px;    
  overflow: auto;
  background-color: #F5CB5C;
  opacity: .90;
}

.search {
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 55px;
  background-color:#333533;
  padding: 15px;
  border-radius: 8px;  
  opacity: .95;
}

.spacing {
  // display: flex;
  // flex: 3;
  // flex-flow: row wrap;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 50px;
  padding: 15px;
  border-radius: 8px;
  // overflow: auto;
  opacity: .90;
  text-align: center; 

}


// --------------Homepage classes ----------------------
.main_logo {
  width: 50%;
  border-radius: 100px;
}

.panel {
  margin-top: 20px;
  margin-left: 5px;
  padding: 30px;
  background-color:#CFDBD5;
  border-radius: 8px;
  opacity: .85;
  text-align: center;
}

.panel2 {
  margin-top: 20px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  padding: 30px;
  background-color: #F5CB5C;
  border-radius: 8px;
  opacity: .95;
  font-family: 'MuseoModerno', cursive;
}

.homepage {
  margin-top: 50px;
  padding: 10px;
}
  
footer {
  text-align: center;
  color: #CFDBD5;
}


// FROM FRONT END BRANCH

.right-side {
  flex: 1;
}

.onRight {
  float: right;
  margin-right: 30px;
  margin-left: -25px;
}
